@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica/HelveticaNeueCyr-Medium.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica/HelveticaNeueCyr-Bold.woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica/HelveticaNeue.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica/HelveticaNeueCyr-Light.woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica/HelveticaNeueCyr-BoldItalic.woff2');
    font-weight: 35;
    font-style: normal;
}