.main__container {
    max-width: 1280px;
    width: 100%;
    // height: 720px;
    margin: 0 auto;
    @media (max-width:1280px) {
        // width: calc((100% / 1) - 20px);
        max-width: 410px;
        
    }
}

.main__content {
    display: flex;
    flex-direction: column;
    align-items: left;
    min-height: 567px;
    max-width: 765px;
    padding: 0 auto;
    .main__date {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 27px;
        width: 420px;
        .main__date-begin {
            font-family: 'Helvetica Neue';
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 26px;
            letter-spacing: -0.03em;
            text-transform: uppercase;
            color: #1FA463;
        }
        .main__date-time {
            font-family: 'Helvetica Neue';
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 26px;
            letter-spacing: -0.03em;
            text-transform: uppercase;
            color: #1FA463;
        }
        .date__line {
            width: 181px;
            height: 0px;
            border: 0.5px solid #000000;
        }
    }
    
}

.main__info {
    position: relative;
    width: 675px;
    min-height: 215px;
    padding: 0 auto;
    .main__info-title {
        display: block;
        text-align: left;
        width: 765px;
        height: 162px;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 700;
        font-size: 100px;
        line-height: 81px;
        letter-spacing: -0.045em;
        text-transform: uppercase;
        color: #000000;
        margin-top: 55px;

        @media (max-width:1280px) {
            width: calc((100% / 1) - 20px);
            max-width: 765px;
            
        }

        @media (max-width:428px) {
            // width: calc((100% / 1) - 20px);
            // max-width: 765px;
            width: 49%;
        }
    }
    .main__info-text {
        text-align: left;
        width: 516px;
        height: 30px;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 101.3%;
        text-transform: uppercase;
        color: #000000;
        margin-top: 23px;
    }

    
}

.main__picture {
    // position: absolute;
    width: 100%;
    left: 780px;
    top: 34px;
}

.main__content-down {
    display: flex;
    width: 608px;
    min-height: 20px;
    margin-top: 250px;
    padding: 0 auto;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #b40000;
}