.main__container {
    position: relative;
    max-width: 1280px;
    width: 100%;
    display: flex;
    overflow: hidden;
    margin: 0 auto;

    @media (max-width: 1280px) {
        max-width: 100%;
        width: 100%;
        flex-direction: column;
        margin-top: 102px;
    }
}

.main__content {
    position: relative;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    min-height: 567px;
    max-width: 765px;

    @media (max-width: 1280px) {
        max-width: 100%;
        width: 100%;
    }

    .main__date {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 27px;
        width: 420px;

        @media (max-width: 1280px) {
            max-width: 100%;
            width: 419px;
        }

        .main__date-begin,
        .main__date-time {
            font-family: 'Helvetica Neue';
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 26px;
            letter-spacing: -0.03em;
            text-transform: uppercase;
            color: #1FA463;
        }
    }

    .date__line {
        width: 181px;
        height: 0px;
        border: 0.5px solid #000000;
    }
}

.main__info {
    position: relative;

    @media (max-width: 1280px) {
        max-width: 100%;
        width: 100%;
    }

    .main__info-title {
        display: inline-block;
        text-align: left;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 700;
        font-size: 100px;
        line-height: 81px;
        letter-spacing: -0.045em;
        text-transform: uppercase;
        color: #000000;
        margin-top: 55px;

        @media (max-width: 1280px) {
            max-width: 100%;
            width: 410px;
            font-size: 95px;
            word-break: break-all;
        }
    }

    .main__info-subtitle {
        text-align: left;
        width: 516px;
        height: 30px;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 101.3%;
        text-transform: uppercase;
        color: #000000;
        margin-top: 23px;

        @media (max-width: 1280px) {
            max-width: 100%;
            width: 339px;
        }
    }
}

.main__picture {
    position: relative;
    max-width: 100%;
    // width: 1364px;
    margin: 0 auto;

    &__image {
        max-width: 684px;
        height: auto;
        margin: 0 auto;
        float: left;
        width: 364px;
    }

    @media (max-width: 1280px) {
        max-width: 100%;
        width: 100%;
    }
}

.main__text-down {
    display: flex;
    width: 608px;
    min-height: 20px;
    margin-top: 250px;
    padding: 0 auto;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #000000;

    @media (max-width: 1280px) {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        max-width: 100%;
        width: 339px;
        margin-top: 105px;
        padding: 12px 0;
    }
}