.organizers__container {
    font-family: 'Helvetica Neue';
    max-width: 1280px;
    width: 100%;
    height: 1120px;
    background: #ffffff;
    margin: 0 auto;
    @media(max-width: 1280px) {
        margin: 0 auto;
        width: 401px;
        height: 100%;
    }
}

.organizers__title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    letter-spacing: -0.045em;
    text-transform: uppercase;
    color: #000000;
    margin-top: 40px;
    
}

.organizers__person {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 40px;
    width: 968px;
    @media(max-width: 1280px) {
        flex-direction: column;
        margin: 0 auto;
        width: 342px;
        height: 100%;
        
        
    }
}

.organizers__person-bio {
    position: relative;
    align-items: center;
    text-align: center;
    width: 446.31px;
    height: 916px;
    .person__foto {
        width: 360px;
        height: 479px;
        margin: 0 auto;
    }
    .person__name {
        align-items: center;
        text-align: center;
        justify-content: space-between;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 58px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #1FA463;
    }
    .email {
        align-items: center;
        text-align: center;
        height: 59px;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 58px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #A5A5A5;
        margin: 0 auto;
    }
    @media(max-width: 1280px) {
        flex-direction: column;
        margin: 0 auto;
        width: 342px;
        height: 100%;
        margin-top: 50px;
        
    }
}

.person__list li {
    margin-bottom: 8px;
}