.programm__container {
    max-width: 800px;
    width: 100%;
    height: 822px;
    margin: 0 auto;
    background: #ffffff;

    @media(max-width: 1280px) {

        margin: 0 auto;
        height: 1868px;
    }
}

.programm__title {
    text-align: center;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    letter-spacing: -0.045em;
    text-transform: uppercase;
    color: #000000;
    padding-top: 40px;
    height: 59px;
}

.programm__inner-large {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 74px auto;
    max-width: 800px;
    width: 100%;
    min-height: 600px;

    @media(max-width: 1280px) {
        display: none;

    }
}

.programm__inner-small {

    display: none;


    @media(max-width: 428px) {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 100%;
        width: 374px;

        margin-top: 152px;
        height: 1868px;
        max-width: 100%;
        width: 374px;


    }


}


.programm__list {
    @media(max-width: 428px) {
        align-items: center;
        margin: 0 auto;
        margin-top: 15PX;
        width: 374px;

    }

}

.programm__list-time {
    display: inline;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #1FA463;
    margin: 0 auto;

    @media(max-width: 428px) {
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-top: 15PX;
        width: 374px;

    }


}

.programm__list-info {
    float: right;
    width: 597px;
    height: auto;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding-bottom: 20px;

    @media(max-width: 1280px) {
        margin: 0 auto;
        margin-top: 15PX;
        width: 374px;
    }

}


.programm__timetable {

    float: right;
    width: 597px;
    height: auto;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding-bottom: 20px;

    @media(max-width: 1280px) {
        margin: 0 auto;
        margin-top: 15PX;
        width: 374px;
    }

}


.programm__timetable::before {
    content: "";
    background-image: url(/img/icon/spark.png);
    background-size: cover;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin-right: 14px;
    display: inline-block;
    vertical-align: middle;
}


.line {
    width: 800px;
    height: 0px;
    border: 2px solid #1FA463;
}