.result__container {
    max-width: 1280px;
    width: 100%;
    height: 770px;
    background: #1FA463;
    margin: 0 auto;
    font-family: 'Helvetica Neue';

    @media(max-width: 1280px) {
        max-width: 428px;
        margin: 0 auto;
        width: 428px;
        height: 1409px;



    }
}

.result__title {
    text-align: center;
        font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    letter-spacing: -0.045em;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 40px;
    height: 59px;
}

.result__inner {
    position: relative;
    margin: 74px auto;
    max-width: 690px;
    width: 100%;
    min-height: 570px;





    .result__list {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 670px;
        height: 500px;
        margin: 0 auto;
        margin-top: 50px;

        @media (max-width:1280px) {
            max-width: 100%;
            width: 306px;
            margin-top: 256px;
            flex-flow: row wrap;
            margin-left: 54px;
            height: auto;
        }
    }
}

.result__list-text {
    width: 290px;      
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    flex-grow: 1;
    margin-right: 20px;
}

.button {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    width: 225px;
    height: 44px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background-color: #1FA463;
        font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 10;
    margin: 0 auto;
    margin-top: 10px;
    @media (max-width:1280px) {
        margin: 0 auto;
        margin-top: 25px;
    }
}