.tariff__container {
    max-width: 1280px;
    width: 100%;
    height: 1740px;
    background: #1FA463;
    @media(max-width: 700px) {
        max-width: 428px;
    }
}

.tariff__title {
    text-align: center;
    width: 340px;
    height: 59px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    letter-spacing: -0.045em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
    padding-top: 40px;
}

.tariff__column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1500px;
    max-width: 1166px;
    width: 100%;
    margin: 0 auto;
}

.tariff__column-frame1 {
    align-items: center;
    background: #ffffff;
    border: 2px solid #000000;
    box-sizing: border-box;
    padding: 0 27px;
    max-width: 350px;
    width: 100%;
    height: 1500px;
}

.tariff__column-frame2,
.tariff__column-frame3 {
    background: #ffffff;
    border: 2px solid #000000;
    box-sizing: border-box;
    padding: 0 27px;
    max-width: 350px;
    width: 100%;
    height: 1500px;
    .bloсk__bonus-title {
        text-align: center;
        height: 59px;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 58px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #1FA463;
        ;
    }
}

.bloсk__top {
    width: 300px;
    height: 384px;
    .bloсk__top-title {
        text-align: center;
        height: 59px;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 58px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #1FA463;
    }
    .bloсk__top-list {
        align-items: center;
        width: 300px;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 35px;
        text-align: left;
        letter-spacing: 0.04em;
        color: #000000;
    }
}

.bloсk__bonus {
    position: relative;
    width: 300px;
    height: 816px;
    .bloсk__bonus-title {
        text-align: center;
        height: 59px;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 58px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #A5A5A5;
    }
    .bloсk__bonus-list {
        width: 300px;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 35px;
        letter-spacing: 0.04em;
        color: #A5A5A5;
    }
}

.bloсk__top-list li,
.bloсk__bonus-list li {
    margin-bottom: 20px;
}

.green__line {
    align-items: center;
    width: 300px;
    height: 0px;
    left: 86px;
    top: 198px;
    border: 2px solid #1FA463;
}

.grey__line {
    align-items: center;
    width: 300px;
    height: 0px;
    left: 86px;
    top: 198px;
    border: 2px solid #A5A5A5;
}

.bloсk__price {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 180px;
    height: 48px;
    .price-actual {
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 0.04em;
        color: #1FA463;
        margin: 0 auto;
    }
    .price-old {
        text-align: center;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 35px;
        letter-spacing: 0.04em;
        text-decoration-line: line-through;
        color: #A5A5A5;
    }
    .buy {
        width: 179px;
        height: 48px;
        z-index: 1;
        transition: 5s;
        background: #FFFFFF;
        border: 2px solid #000000;
        box-sizing: border-box;
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #000000;
    }
}

.buy:hover {
    filter: blur(0); // радиус размытия
    transform: scale(1); // масштабирование
    opacity: 1; // полупрозрачность
    cursor: pointer;
    background: rgba(31, 164, 99, 0.85);
}