@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  padding: 0 30px;
}

@media (max-width: 1280px) {
  .wrapper {
    max-width: 100%;
    width: 100%;
    padding: 0 2px;
  }
}

.content {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .content {
    max-width: 100%;
    width: 100%;
  }
}

.body {
  font-family: Helvetica Neue, Arial, sans-serif;
  width: 1280px;
}

.main__container {
  max-width: 1280px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .main__container {
    max-width: 100%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 102px;
  }
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 567px;
  max-width: 765px;
}

@media (max-width: 1280px) {
  .main__content {
    max-width: 100%;
    width: 100%;
  }
}

.main__content .main__date {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 27px;
  width: 420px;
}

@media (max-width: 1280px) {
  .main__content .main__date {
    max-width: 100%;
    width: 419px;
  }
}

.main__content .main__date .main__date-begin,
.main__content .main__date .main__date-time {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 26px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #1FA463;
}

.main__content .date__line {
  width: 181px;
  height: 0px;
  border: 0.5px solid #000000;
}

.main__info {
  position: relative;
}

@media (max-width: 1280px) {
  .main__info {
    max-width: 100%;
    width: 100%;
  }
}

.main__info .main__info-title {
  display: inline-block;
  text-align: left;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 81px;
  letter-spacing: -0.045em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 55px;
}

@media (max-width: 1280px) {
  .main__info .main__info-title {
    max-width: 100%;
    font-size: 95px;
  }
}

.main__info .main__info-subtitle {
  text-align: left;
  width: 516px;
  height: 30px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 101.3%;
  text-transform: uppercase;
  color: #000000;
  margin-top: 23px;
}

@media (max-width: 1280px) {
  .main__info .main__info-subtitle {
    max-width: 100%;
    width: 339px;
  }
}

.main__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin-bottom: 5px;
}

.main__picture__image {
  position: absolute;
  max-width: 684px;
  height: auto;
  margin: 0 auto;
  float: left;
}

@media (max-width: 1280px) {
  .main__picture {
    max-width: 100%;
    width: 100%;
  }
}

.main__text-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 608px;
  min-height: 20px;
  margin-top: 250px;
  padding: 0 auto;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 1280px) {
  .main__text-down {
    max-width: 100%;
    width: 339px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 105px;
    padding: 12px 0;
  }
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Roman.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helvetica/HelveticaNeueCyr-Light.woff2");
  font-weight: 300;
  font-style: normal;
}

.about__container {
  max-width: 1280px;
  width: 100%;
  height: 720px;
  background: #1FA463;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .about__container {
    max-width: 100%;
    width: 100%;
    display: none;
  }
}

.about__title {
  text-align: center;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: -0.045em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 40px;
  height: 59px;
}

.about__list {
  position: relative;
  margin: 74px auto;
  margin-top: 74px;
  max-width: 690px;
  width: 100%;
  min-height: 405px;
}

.about__list-text {
  text-align: left;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
  letter-spacing: -0.045em;
  color: #FFFFFF;
}

.conference__container {
  max-width: 1280px;
  width: 100%;
  min-height: 1084px;
  background: #ffffff;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .conference__container {
    max-width: 100%;
    width: 100%;
  }
}

.conference__title {
  text-align: center;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: -0.045em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 40px;
}

.conference__cards-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 40px;
}

@media (max-width: 1280px) {
  .conference__cards-inner {
    max-width: 100%;
    width: 100%;
  }
}

.conference__card1,
.conference__card2,
.conference__card3 {
  max-width: 660px;
  width: 100%;
  min-height: 240px;
}

@media (max-width: 1280px) {
  .conference__card1,
  .conference__card2,
  .conference__card3 {
    width: 383px;
    height: 100%;
  }
}

.cards__main {
  position: relative;
  margin: 0 auto;
  background: #FFFFFF;
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
  min-height: 59px;
  max-width: 390px;
}

@media (max-width: 1280px) {
  .cards__main {
    width: 273px;
    height: 67px;
  }
}

.cards-title {
  text-align: center;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 58px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1FA463;
}

@media (max-width: 1280px) {
  .cards-title {
    font-size: 20px;
  }
}

.conference__cards-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 660px;
  height: 239px;
  top: -34px;
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
}

@media (max-width: 1280px) {
  .conference__cards-item {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    height: 100%;
  }
}

.conference__cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

.conference__cards-list li {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 40px;
}

.result__container {
  max-width: 1280px;
  width: 100%;
  height: 770px;
  background: #1FA463;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .result__container {
    max-width: 428px;
    margin: 0 auto;
    width: 428px;
    height: 1409px;
  }
}

.result__title {
  text-align: center;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: -0.045em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 40px;
  height: 59px;
}

.result__inner {
  position: relative;
  margin: 74px auto;
  max-width: 690px;
  width: 100%;
  min-height: 570px;
}

.result__inner .result__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 670px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

@media (max-width: 1280px) {
  .result__inner .result__list {
    max-width: 100%;
    width: 306px;
    margin-top: 256px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-left: 54px;
    height: auto;
  }
}

.result__list-text {
  width: 290px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 20px;
}

.button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 225px;
  height: 44px;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1FA463;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 10;
  margin: 0 auto;
  margin-top: 10px;
}

@media (max-width: 1280px) {
  .button {
    margin: 0 auto;
    margin-top: 25px;
  }
}

.programm__container {
  max-width: 800px;
  width: 100%;
  height: 822px;
  margin: 0 auto;
  background: #ffffff;
}

@media (max-width: 1280px) {
  .programm__container {
    margin: 0 auto;
    height: 1868px;
  }
}

.programm__title {
  text-align: center;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: -0.045em;
  text-transform: uppercase;
  color: #000000;
  padding-top: 40px;
  height: 59px;
}

.programm__inner-large {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 74px auto;
  max-width: 800px;
  width: 100%;
  min-height: 600px;
}

@media (max-width: 1280px) {
  .programm__inner-large {
    display: none;
  }
}

.programm__inner-small {
  display: none;
}

@media (max-width: 428px) {
  .programm__inner-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;
    width: 374px;
    margin-top: 152px;
    height: 1868px;
    max-width: 100%;
    width: 374px;
  }
}

@media (max-width: 428px) {
  .programm__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-top: 15PX;
    width: 374px;
  }
}

.programm__list-time {
  display: inline;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #1FA463;
  margin: 0 auto;
}

@media (max-width: 428px) {
  .programm__list-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-top: 15PX;
    width: 374px;
  }
}

.programm__list-info {
  float: right;
  width: 597px;
  height: auto;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 20px;
}

@media (max-width: 1280px) {
  .programm__list-info {
    margin: 0 auto;
    margin-top: 15PX;
    width: 374px;
  }
}

.programm__timetable {
  float: right;
  width: 597px;
  height: auto;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 20px;
}

@media (max-width: 1280px) {
  .programm__timetable {
    margin: 0 auto;
    margin-top: 15PX;
    width: 374px;
  }
}

.programm__timetable::before {
  content: "";
  background-image: url(/img/icon/spark.png);
  background-size: cover;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin-right: 14px;
  display: inline-block;
  vertical-align: middle;
}

.line {
  width: 800px;
  height: 0px;
  border: 2px solid #1FA463;
}

.speakers__container {
  max-width: 1110px;
  width: 100%;
  min-height: 1800px;
  background: #ffffff;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .speakers__container {
    max-width: 428px;
  }
}

.speakers__title {
  text-align: center;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: -0.045em;
  text-transform: uppercase;
  color: #000000;
  padding-top: 40px;
  padding-bottom: 60px;
}

.speakers__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
}

.speakers__info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  height: 500px;
}

.foto {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 100px;
}

.speakers__about-list {
  position: relative;
  float: right;
  left: 520px;
  width: 600px;
  height: 372px;
}

.speakers__about-list .name {
  font-size: 30px;
  line-height: 58px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1FA463;
}

.speakers__about-list .info {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: #000000;
  max-width: 640px;
}

.speakers__about-list .skills {
  max-width: 640px;
}

.info::before {
  content: "";
  background-image: url(/img/icon/spark.png);
  background-size: cover;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin-right: 14px;
  display: inline-block;
  vertical-align: middle;
}

.tariff__container {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 1740px;
  margin: 0 auto;
  background: #1FA463;
}

@media (max-width: 1280px) {
  .tariff__container {
    max-width: 100%;
    width: calc((100% / 3)-20px);
  }
}

.tariff__title {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: -0.045em;
  text-transform: uppercase;
  color: #ffffff;
}

.tariff__title .tariff__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 1500px;
  max-width: 1166px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .tariff__title .tariff__column {
    max-width: 100%;
    width: calc((100% / 3)-20px);
  }
}

.tariff__title .tariff__column-frame1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #a81919;
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 27px;
  max-width: 350px;
  width: 100%;
  height: 1500px;
}

.tariff__title .tariff__column-frame2,
.tariff__title .tariff__column-frame3 {
  background: #ffffff;
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 27px;
  max-width: 350px;
  width: 100%;
  height: 1500px;
}

.tariff__title .tariff__column-frame2 .bloсk__bonus-title,
.tariff__title .tariff__column-frame3 .bloсk__bonus-title {
  text-align: center;
  height: 59px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 58px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1FA463;
}

.tariff__title .bloсk__top {
  width: 300px;
  height: 384px;
}

.tariff__title .bloсk__top .bloсk__top-title {
  text-align: center;
  height: 59px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 58px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1FA463;
}

.tariff__title .bloсk__top .bloсk__top-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  text-align: left;
  letter-spacing: 0.04em;
  color: #000000;
}

.tariff__title .bloсk__bonus {
  position: relative;
  width: 300px;
  height: 816px;
}

.tariff__title .bloсk__bonus .bloсk__bonus-title {
  text-align: center;
  height: 59px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 58px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #A5A5A5;
}

.tariff__title .bloсk__bonus .bloсk__bonus-list {
  width: 300px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.04em;
  color: #A5A5A5;
}

.tariff__title .bloсk__top-list li,
.tariff__title .bloсk__bonus-list li {
  margin-bottom: 20px;
}

.tariff__title .green__line,
.tariff__title .grey__line {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 0px;
  left: 86px;
  top: 198px;
  border: 2px solid #1FA463;
}

.tariff__title .bloсk__price {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 180px;
  height: 48px;
}

.tariff__title .bloсk__price .price-actual {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.04em;
  color: #1FA463;
  margin: 0 auto;
}

.tariff__title .bloсk__price .price-old {
  text-align: center;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.04em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #A5A5A5;
}

.tariff__title .bloсk__price .buy {
  width: 179px;
  height: 48px;
  z-index: 1;
  -webkit-transition: 5s;
  transition: 5s;
  background: #FFFFFF;
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
}

.tariff__title .buy:hover {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  cursor: pointer;
  background: rgba(31, 164, 99, 0.85);
}

.organizers__container {
  max-width: 1280px;
  width: 100%;
  min-height: 1120px;
  background: #ffffff;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .organizers__container {
    max-width: 428px;
  }
}

.organizers__title {
  text-align: center;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: -0.045em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 40px;
}

.organizers__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 40px;
  width: 968px;
}

.organizers__person1,
.organizers__person2 {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 446.31px;
  height: 916px;
}

.organizers__person1 .person__foto,
.organizers__person2 .person__foto {
  width: 360px;
  height: 479px;
  margin: 0 auto;
}

.organizers__person1 .person__name,
.organizers__person2 .person__name {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 58px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1FA463;
}

.organizers__person1 .email,
.organizers__person2 .email {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 59px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 58px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #A5A5A5;
  margin: 0 auto;
}

.person__list li {
  margin-bottom: 8px;
}

@media (max-width: 320px) {
  .main__content {
    background: blue;
  }
}
/*# sourceMappingURL=style.css.map */